<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
<p>Dear subscriber,</p> 

<p style="margin-top: 10px;">
	The fridge: IS SmartCool, SD, Carlsberg. Placed: Rheinfelden, Theophil-Roniger-Strasse, Carlsberg Switzerland
</p>

<p style="margin-top: 10px;">
	Has no door openings for more than 24 hours. You can check the detailed status at 
	<a href="http://carlsberg.uaic.net/" target="_blank">http://carlsberg.uaic.net/</a>
</p>

<p style="margin-top: 10px;">
	If you are sure that the fridge is not blocked or placed incorrectly please ignore this message.
</p> 

<p style="margin-top: 10px;">
	In case of any questions you contact Kateryna Komolova (<a href="mailto:e.komolova@beer-co.com">e.komolova@beer-co.com</a>)
</p> 

<p style="margin-top: 10px;">Regards,</p>

<p style="margin-top: 10px;">Smart Fridge Team</p>

<p style="margin-top: 10px;">UBC Group</p>
</body>
</html>