<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
<p>Dear subscriber,</p> 

<p>
	The fridge: IS SmartCool, SD, Carlsberg. Placed: Rheinfelden, Theophil-Roniger-Strasse, Carlsberg Switzerland
</p>

<p>
	Has excess of inner temperature, it may effect on its performance. You can check the detailed status at 
	<a href="http://carlsberg.uaic.net/">http://carlsberg.uaic.net/</a>
</p> 

<p>
	In case of any questions you contact Kateryna Komolova (<a href="mailto:e.komolova@beer-co.com">e.komolova@beer-co.com</a>)
</p> 

<p>Regards,</p>

<p>Smart Fridge Team</p>

<p>UBC Group</p>
</body>
</html>