#left_block {
    width: 420px;
}
#content {
    margin: 6px 3px 3px 450px;
}
#map {
    bottom: 0;
}

#treport {
    display: none;
    position: absolute;
    top: 200px;
    left: -300px;
    overflow: auto;
    border: 1px solid #003399;
    background-color: #fff;
    padding: 20px;
    z-index: 1000;
    width: 600px;
    margin-left: 50%;
    height: 250px;
}